@using PagedList.Mvc;
@using PagedList;
@model IPagedList<Shopik.Models.Product>
@{
    ViewBag.Title = "KetQuaTimKiem";
    Layout = "~/Views/ShopikLayout/Shopik_Layout1.cshtml";
}

<section class="page-content">
    <!-- PAGE-BANNER START -->
    <div class="page-banner-area margin-bottom-80">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-banner-menu">
                        <h2 class="page-banner-title">Shop</h2>
                        <ul>
                            <li><a href="index.html">home</a></li>
                            <li>Shop List</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="best-sell-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2 class="border-left-right-btm">@ViewBag.ThongBao</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- best-sell-menu -->
                    <!-- best-sell-product -->
                    <div class="tab-content best-sell-product">
                        <div role="tabpanel" class="tab-pane fade in active" id="men">
                            <div class="row">
                                @foreach (var item in Model)
                                {
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <!-- Single-product start -->
                                        <div class="single-product">
                                            <div class="product-photo">
                                                <a href="@Url.Action("XemChiTiet", "Product", new { @id = item.id })">
                                                    <img class="primary-photo" src="@Url.Content("~/HinhAnhSP/"+item.AnhBia)" alt="" />
                                                    <img class="secondary-photo" src="@Url.Content("~/HinhAnhSP/"+item.AnhBia)" alt="" />
                                                </a>
                                                <div class="pro-action">
                                                    <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                                                    <a href="#" class="action-btn">
                                                        <i class="sp-shopping-cart"></i>
                                                        @using (Html.BeginForm("ThemGioHang", "GioHang", new { @id = item.id, @strURL = Request.Url.ToString() }))
                                                        {
                                                            <input type="submit" value="Add " class="product-item-cart add_to_cart">
                                                        }
                                                        <span>Add to cart</span>
                                                    </a>

                                                    <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                                                </div>
                                            </div>
                                            <div class="product-brief">
                                                <h2><a href="@Url.Action("XemChiTiet", "Product", new { @id = item.id })">@item.ProductName</a></h2>
                                                <div class="product-brief-inner">
                                                    <h3>@string.Format("{0:0,0}", @item.Price) VNĐ</h3>
                                                    <div class="pro-rating">
                                                        <a href="#"><i class="sp-star rating-1"></i></a>
                                                        <a href="#"><i class="sp-star rating-1"></i></a>
                                                        <a href="#"><i class="sp-star rating-1"></i></a>
                                                        <a href="#"><i class="sp-star rating-1"></i></a>
                                                        <a href="#"><i class="sp-star rating-2"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

