@model IEnumerable<Shopik.Models.Cate>

@{
    ViewBag.Title = "Cate";
    Layout = "~/Views/AdminLayout/Admin_Layout1.cshtml";
}

<h2>Category</h2>

<p>
    @Html.ActionLink("Create New", "CreateCate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChuDe.ChuDeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChuDe.ChuDeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCate", new { @id=item.id }) |
            @Html.ActionLink("Delete", "XoaCate", new { @id=item.id })
        </td>
    </tr>
}

</table>
